@model IEnumerable<ResourceManagementF.Models.Teacher>

@{
    ViewBag.Title = "Index";
}
<p>
    @Html.ActionLink("Return Home", "Index", "Home", null, new { @class = "btn btn-default" })
</p>
<h2>Enseignant</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lab)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ischef)
        </th>
        <th>
            Department
        </th>
        <th>
            Action
        </th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Email)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Password)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Lab)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Ischef)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DepartmentId.Name)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-warning" })
        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
    </td>
</tr>
}

</table>
