@model IEnumerable<ResourceManagementF.Models.AcompDep>

@{
    ViewBag.Title = "Index";
}

<h2>Affectation des Ordinateur pour les Departement</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Departement
        </th>
        <th>
            Ordinateur
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Affecter)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Panne)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Deps.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Comp.Brand)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Affecter)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Panne)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
    </td>
</tr>
}

</table>
