@model IEnumerable<ResourceManagementF.Models.AcompT>

@{
    ViewBag.Title = "Index";
}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Ordinateur Affecter", "Index", "User")</li>
                <li>@Html.ActionLink("Impriment Affecter", "printers", "User")</li>
            </ul>
        </div>
    </div>
</div>

<h2>Ordinateur Affecter</h2>


<table class="table table-responsive table-striped">
    <tr>
        <th>
            Enseignant
        </th>
        <th>
            Ordinateur
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Affecter)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Panne)
        </th>
        <th>
            Action
        </th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Profs.Email)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Computers.Brand)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Affecter)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Panne)
    </td>
    <td>
        @Html.ActionLink("Panne", "Details", new { id = item.Id }, new { @class = "btn btn-primary" })
    </td>
</tr>
}

</table>
