@model ResourceManagementF.Models.Computer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Computer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateLivraison)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateLivraison)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Warranty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Warranty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Brand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cpu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cpu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ram)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ram)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Storage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Storage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Monitor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Monitor)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
